In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('Frutas.xlsx')

In [7]:
df

               Fruta  Calorias
0            Abacaxi        48
1              Amora        43
2            Abacate       160
3       Banana-prata        89
4      Banana-nanica        92
5        Banana-maçã        89
6   Cereja congelada        46
7              Caqui        70
8          Carambola        31
9               Caju        43
10            Ameixa        46
11           Acerola        32
12              Figo        74
13         Framboesa        52

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
label_encoder = LabelEncoder()

In [12]:
df['CategoriasFrutas'] = label_encoder.fit_transform(df['Fruta'])
df

               Fruta  Calorias  CategoriasFrutas
0            Abacaxi        48                 1
1              Amora        43                 4
2            Abacate       160                 0
3       Banana-prata        89                 7
4      Banana-nanica        92                 6
5        Banana-maçã        89                 5
6   Cereja congelada        46                11
7              Caqui        70                 9
8          Carambola        31                10
9               Caju        43                 8
10            Ameixa        46                 3
11           Acerola        32                 2
12              Figo        74                12
13         Framboesa        52                13

In [14]:
dum_df = pd.get_dummies(df, columns=['Fruta'])
dum_df

,Calorias,CategoriasFrutas,Fruta_Abacate,Fruta_Abacaxi,Fruta_Acerola,Fruta_Ameixa,Fruta_Amora,Fruta_Banana-maçã,Fruta_Banana-nanica,Fruta_Banana-prata,Fruta_Caju,Fruta_Caqui,Fruta_Carambola,Fruta_Cereja congelada,Fruta_Figo,Fruta_Framboesa
0,48,1,False,True,False,False,False,False,False,False,False,False,False,False,False,False
1,43,4,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,160,0,True,False,False,False,False,False,False,False,False,False,False,False,False,False
3,89,7,False,False,False,False,False,False,False,True,False,False,False,False,False,False
4,92,6,False,False,False,False,False,False,True,False,False,False,False,False,False,False
5,89,5,False,False,False,False,False,True,False,False,False,False,False,False,False,False
6,46,11,False,False,False,False,False,False,False,False,False,False,False,True,False,False
7,70,9,False,False,False,False,False,False,False,False,False,True,False,False,False,False
8,31,10,False,False,False,False,False,False,False,False,False,False,True,False,False,False
9,43,8,False,False,False,False,False,False,False,False,True,False,False,False,False,False
10,46,3,False,False,False,True,False,False,False,False,False,False,False,False,False,False
11,32,2,False,False,True,False,False,False,False,False,False,False,False,False,False,False
12,74,12,False,False,False,False,False,False,False,False,False,False,False,False,True,False
13,52,13,False,False,False,False,False,False,False,False,False,False,False,False,False,True